<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--        Соединение с базой-->
        <property name="connection.url">jdbc:sqlite:D:/GIt/Pet-project/Calendar/src/main/resources/db.sqlite</property>
        <!--        Драйвер для работы с базой-->
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <!--        Когда будем создавать сесию для работы с БД то эта сесия будет привязана к треду-->
        <property name="current_session_context_class">thread</property>
        <!--        Так как работаем с SQLite то указываем ее диалект, для учета особенностей языка в SQLite-->
        <property name="dialect"> org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <!--        Мы хотим видеть какие SQL выражения посылаются БД-->
        <property name="show_sql">true </property>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->
        <!-- Для автоматического создания и изменнеия таблиц -->
        <property name="hibernate.hbm2ddl.auto">create</property>
    </session-factory>
</hibernate-configuration>